DB_URL= "postgresql://doadmin:l5al4hwte8qmj6x8@db-postgresql-sfo2-nextgen-do-user-1067699-0.db.ondigitalocean.com:25060/treetracker_dev?ssl=true"
FIELD_DATA_URL="http://dev-k8s.treetracker.org/field-data/captures"
SQS_URL="https://sqs.eu-central-1.amazonaws.com/053061259712/treetracker-test-queue"
USE_FIELD_DATA_SERVICE=true